 body {
     margin: 0px;
     padding: 0px;
     border:7px solid  lightgrey;
     background-size: 100% 980px; 
 }

 .wrapper {
     width: 100%;
     height: 100%;
 }

header {
    height: 100px;    
    width: 100%; 
}

header a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-spacing: 5px;
}

.image {
    float: left;
    padding: 15px 15px 0px 0px;
  
}

.navigator {   
   float: right;
   padding: 25px 10px 25px 0px;
}

 .header {     
    width: 100%;
    color: lightgray;
}

h2,h1,h3 {
    text-align: center; 
    font-family: Cambria, Cochin;
}

h2 {
   font-size: 25px;
}

h1 {
   font-size: 35px;
}

h3 {
    font-size: 25px;
}

.container{
    width: 100%;
    text-align: center;
    display: inline-block;
    
}

.form-input1 {
    width: 100%;
    display: inline;   
}

.form-input{
    width: 100%;
    display: inline;   
    
}

input {
	height: 45px;
	width: 170px;
	font-size:15px;
	margin-bottom: 10px;
	background-color: #fff;
	padding-left: 40px;
}

.form-input1::before {
	content: "\f064";
	position: absolute;
	font-family:"fontAwesome";
	padding-left: 5px;
	padding-top: 18px; 
	font-size: 20px;
}

.form-input::before {
	content: "\f084";
	position: absolute;
	font-family:"fontAwesome";
	padding-left: 5px;
	padding-top: 18px; 
	font-size: 20px;
} 

 .init {
     width: 100%;
     height: 45px;
     text-align: center;
     padding-bottom: 15px;
 }

 .init a {
     text-decoration: none;
     
 }
 a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
    color: lightblue;
}

a:active {
    text-decoration: underline;
    color: violet;
}
 .in {
     
     font-size: 11px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
 }
.started {
     
     font-size: 20px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     padding: 9px;
     border: 2px solid lightblue;

}
footer {
    margin-top: 30px;
    background-color: lightblue;
    height: 130px;
} 
.footer {
    font-size: 11px;
    position: absolute;
    bottom: 13px;
    left: 13px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}











































