 body {
     margin: 0px;
     padding: 0px;
     border:7px solid  lightgrey;
     background-size: 100% 720px; 
 }
 .wrapper {
     width: 100%;
     height: 100%;
 }

header {
    height: 100px;
    
}
header a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-spacing: 5px;
}
.image {
    
    float: left;
    padding: 15px 15px 0px 0px;
    
}
.navigator {
    
   float: right;
   padding: 35px 0px 25px 0px; 

}
 .header {     
     color: lightgray;     
}
section {
    height: 250px;
}
h2,h1,h3 {
    text-align: center; 
    font-family: Cambria, Cochin;
}
h2 {
   font-size: 25px;
}
h1 {
   font-size: 35px;
}
h3 {
    font-size: 25px;
}

.container{
   width: 
   height: 150px;
}
.form-input1{
    width: 50%; 
    position: relative;
    
}
.form-input{
    width: 30%;
    position: relative;
  
}
input {
	height: 45px;
	width: 300px;
	font-size:15px;
	margin-bottom: 10px;
	background-color: #fff;
	padding-left: 40px;
}
.form-input1::before{
	content: "\f064";
	position: absolute;
	font-family:"fontAwesome";
	padding-left: 5px;
	padding-top: 18px; 
	font-size: 20px;
} 
.form-input::before{
	content: "\f084";
	position: absolute;
	font-family:"fontAwesome";
	padding-left: 5px;
	padding-top: 18px; 
	font-size: 20px;
} 

 .init {
     width: 100%;
     height: 65px;
     text-align: center;
     padding-bottom: 15px;
 }
 .init a{
     text-decoration: none;
     
 }
 a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
    color: lightblue;
}

a:active {
    text-decoration: underline;
    color: violet;
}
 .in {
     
     font-size: 11px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
 }
.started {
     
     font-size: 20px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     padding: 9px;
     border: 2px solid lightblue;

}
footer {
    margin-top: 30px;
    background-color: lightblue;
    height: 130px;
} 
.footer {
    font-size: 11px;
    position: absolute;
    bottom: 25px;
    left: 13px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}











































